.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
}

.bio {
  text-align: center;
  color: gray;
  margin-top: 16px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input[type=text] {
  margin-top: 24px;
  padding: 8px;
  border-radius: 5px;
  font-size: 18px;
}

.waveButton {
  cursor: pointer;
  margin-top: 12px;
  padding: 12px;
  border: 0;
  border-radius: 5px; 
  font-size: 18px;
  font-weight: 600;
}

.totalWaves {
  margin: 8px 0;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}

.wave {
  background-color: oldlace;
  margin-top: 16px;
  padding: 16px;
  border-radius: 5px;
}

hr {
  width: 100%;
  margin: 36px 0;
  border: none;
  border-top: 1px solid #EEE;
}

#spinner {
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 5px solid rgba(0, 0, 0, .15);
  border-radius: 50%;
  border-top-color: gold;
  border-right-color: gold;
  animation: spin 1s linear infinite;
  -webkit-animation: spin 1s linear infinite;
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}