body {
  margin: 0;
  font-family: monospace, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #251b46;
}

html {
  background-color: #251b46;
  font-family: monospace, monospace;
}